services:
  gateway:
    build: ./gateway/
    ports:
      - 80:80
      - 443:443
    depends_on:
      - backend
    volumes:
      - static:/staticfiles/
      - media:/app/media

volumes:
  static:
  media: