services:
  gateway:
    build: ./gateway/
    ports:
      - 80:80
      - 443:443
    depends_on:
      - backend
    volumes:
      - static:/staticfiles/
      - media:/app/media
      - ~/frontend/dist:/usr/share/nginx/html
volumes:
  static:
  media:
