name: Deploy to Test v2

on:
  push:
    branches: [main, devops/test-deploy-main]
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      CI_TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      CI_TELEGRAM_ADMIN_BOT_TOKEN: ${{ secrets.TELEGRAM_ADMIN_BOT_TOKEN }}
      CI_SECRET_KEY: ${{ secrets.SECRET_KEY }}
      CI_ALLOWED_HOSTS: ${{ vars.ALLOWED_HOSTS }}
      CI_CSRF_TRUSTED_ORIGINS: ${{ vars.CSRF_TRUSTED_ORIGINS }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: 2. Create .env file for CI
        run: |
          pip3 install dump-env
          dump-env \
            -t .env.example \
            -p 'CI_' \
            --strict CI_TELEGRAM_BOT_TOKEN \
            --strict CI_TELEGRAM_ADMIN_BOT_TOKEN > .env

      - name: Copy deploy files to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          overwrite: true
          source: "."
          target: backend
          rm: true

      - name: Deploy to test server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/backend
            run_compose() { docker compose -p prod -f docker-compose.yml -f docker-compose.prod.yml "$@"; }
            echo "Building backend and nginx.."
            run_compose build -q
            echo "Start services.."
            run_compose up -d --quiet-pull
            echo "Done!"
            echo "Current status:"
            run_compose ps
            echo "Delete dangling images.."
            docker image prune -f
